.place_order {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    margin-top: 100px;
}
.place_order_left {
    width: 100%;
    max-width: max(30%,500px);
}
.place_order_left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom:50px ;
}
.place_order_left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}
.place_order_left .multi_fields {
    display: flex;
    gap: 10px;
}
.place_order_right {
    width: 100%;
    max-width: max(40%,500px);
}
.place_order_right button {
    margin-top: 30px;
}
.place_order_right h2 {
    font-weight: 600;
}