.add {
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 60px;
    color: #6d6d6d;
    font-size: 16px;
    min-height: 120vh;
}
.add form {
    gap: 20px;
}
.add_img_upload img {
    width: 120px;
    cursor: pointer;
}
.add_product_name, .add_product_description {
    width: max(40%,280px);
}
.add_product_description textarea {
    height: 150px;
}
.add_product_name input, .add_product_description textarea {
    padding: 10px;
}
.add_category_price {
    display: flex;
    gap: 30px;
}
.add_category_price select, .add_category_price input {
    padding: 10px;
}
.add_btn {
    max-width: 120px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
}