.login_popup {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login_popup_container {
    place-self: center;
    width: max(27vw,340px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation:fadein 0.4s;
}
.login_popup_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login_popup_title img {
    width: 16px;
    object-fit: cover;
    cursor: pointer;
}
.login_popup_input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login_popup_input input {
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    padding: 10px;
    outline: none;
}
.login_popup_container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background: tomato;
    cursor: pointer;
    font-size: 15px;
}
.login_popup_condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login_popup_condition input {
    margin-top: 5px;
}
.login_popup p span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}