.food_display {
    margin-top: 30px;
}
.food_display h2 {
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food_display_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

@media (max-width:750px) {
   .food_display_list {
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
   }
}