.list_table_format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    gap: 10px;
    align-items: center;
    padding: 12px 15px;
    border: 1px solid #cacaca;
}
.list_table_format.title {
    background-color: #f9f9f9;
}
.list_table_format img {
    width: 50px;
}

.cursor {
    cursor: pointer;
}

@media (max-width:600px) {
    .list_table_format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list_table_format.title {
        display: none;
    }
}